<ion-header>
  <ion-toolbar>
    <ion-title>ChangePassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>Contraseña actual</ion-label>

  <ion-list>

      <ion-input type="text" style="background-color: black; color:white;" (keyup)="checkOldPass()" [(ngModel)]="oldPass"></ion-input>
      <ion-label [hidden]="oldPassCheck">la contraseña actual no coincide</ion-label>

      <hr><hr>

    <ion-label>Nueva Contraseña</ion-label>
    <ion-input type="text" style="
    background-color: black; color:white;" [(ngModel)]="newPass"></ion-input>

    <ion-button (click)="changePassword()"  color="primary" [hidden]="!oldPassCheck">Cambiar contraseña</ion-button>
    <ion-button  color="bonito" [hidden]="oldPassCheck">Cambiar contraseña</ion-button>



  </ion-list>

</ion-content>